<div class="row">
  <div class="col-md-5">
    <table class="table table-condensed" style="margin-bottom: 0px">
      <tbody>
      <tr>
        <td>Status</td>
        <td><span class="label label-success">Confirmed</span></td>
      </tr>
      <tr>
        <td class="col-md-3">Out of Business</td>
        <td><span class="label label-success">No</span></td>
      </tr>
      <tr>
        <td class="col-md-3">Publish</td>
        <td><span class="label label-success">Yes</span></td>
      </tr>
      <tr>
        <td class="col-md-3">Parent Merchant Id</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-5">
    <table class="table table-condensed" style="margin-bottom: 0px; width:500px; table-layout:fixed;">
      <tbody>
      <tr>
        <td style="text-align: left;">Primary Heading</td>
        <td>Click to add a primary heading</td>
      </tr>
      <tr>
        <td class="col-md-3">Home Directory</td>
        <td></td>
      </tr>
      <tr>
        <td class="col-md-3">Override default phone SERP display</td>
        <td></td>
      </tr>
      <tr>
        <td class="col-md-3">OPT-out ContentR content</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
