<h4>Merchant Names</h4>

<div class="row">
  <div class="col-md-4">
    <ba-card title="Merchant Names (OMM)">
      <table class="table table-condensed">
        <tr>
          <td>English</td>
          <td> 1-800 Got Junk?</td>
        </tr>
        <tr>
          <td>English</td>
          <td> 1-800 Got Junk?</td>
        </tr>
        <br/> <!-------->
        <button class="btn btn-primary" (click)="showMore =! showMore">More Details</button>
        <br/> <!-------->
        <div class="expand" *ngIf="showMore">
          <tr>
            <td>Start Date: </td>
            <td>2016-11-03T13:19</td>
          </tr>
          <tr>
            <td>End Date: </td>
            <td>Forever</td>
          </tr>
          <tr>
            <td>Creation Date: </td>
            <td>2016-11-03T13:19</td>
          </tr>
          <tr>
            <td>Status: </td>
            <td>Approved</td>
          </tr>
        </div>
      </table>
    </ba-card>
  </div>

  <div class="col-md-4">
    <ba-card title="Merchant Names (OMM)">
      <table class="table table-condensed">
        <tr>
          <td>English</td>
          <td> 1-800 Got Junk?</td>
        </tr>
        <tr>
          <td>English</td>
          <td> 1-800 Got Junk?</td>
        </tr>
        <br/> <!-------->
        <button class="btn btn-primary" (click)="showMore =! showMore">More Details</button>
        <br/> <!-------->
        <div class="expand" *ngIf="showMore">
          <tr>
            <td>Start Date: </td>
            <td>2016-11-03T13:19</td>
          </tr>
          <tr>
            <td>End Date: </td>
            <td>Forever</td>
          </tr>
          <tr>
            <td>Creation Date: </td>
            <td>2016-11-03T13:19</td>
          </tr>
          <tr>
            <td>Status: </td>
            <td>Approved</td>
          </tr>
        </div>
      </table>
    </ba-card>
  </div>
</div>

